{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'main/styles.css' %}">
	<title>Yevhen Balytskyi</title>
</head>

<body>
	<header>
		<div id="social-media-links">
			<a href="https://github.com/yevhenbalytskyi" target="_blank">
				<img src="{% static 'main/social-media-img/github.png' %}">
				<img class="bw" src="{% static 'main/social-media-img/github-bw.png' %}">
			</a>
			<br><br>
			<a href="https://linkedin.com" target="_blank">
				<img src="{% static 'main/social-media-img/linkedin.png' %}">
				<img class="bw" src="{% static 'main/social-media-img/linkedin-bw.png' %}">
			</a>
		</div>
		<img id="header-image" src="{% static 'main/header.jpg' %}">
		<div id="minimalist-picture"> &lt / &gt_ </div>
		<div id="my-name">Yevhen Balytskyi</div>
		<div id="profession">web developer</div>
	</header>

	<div id="topnav">
		  <a onclick="window.scrollTo(0, 0); main_page();">Main</a>
		  <a onclick="$(window).scrollTop($('#skills').offset().top);">Skills</a>
		  <a onclick="$(window).scrollTop($('#projects').offset().top);">Projekts</a>
		  <a onclick="window.scrollTo(0, 0); get_time();">Contact</a>
	</div>


	<form id="content_p" method="POST">{% csrf_token %}</form>
	<div id="append"></div>
	<div id="about">
		<img id="my-pic" src="{% static 'main/my-pic.png' %}" />
		<div id="about-text">
			<h1>Yevhen Balytskyi</h1>
			<p>I'm a student, who studies Programming with a passion for Computer Science and a desire to learn and get better</p>
		</div>
	</div>



	<div id="skills">
		<h1>SKILLS</h1>
		<div id="divider"></div>

		<div id="skill-scroll">
			{% for image in images %}
				<div class="skill-div">
					<img src='/static/main/skills-img/{{image}}' />
				</div>
			{% endfor %}
		</div>

	</div>



	<div id="projects">
		<h1>Projects</h1>
		<div id="divider"></div>
		<div id="project-container">
			<div class="project">
				<img src="{% static 'main/typeracer.png' %}">
				<p>Project description</p>
				<div class="project-divider"></div>
				<button onclick="location.href='https://github.com/yevhenbalytskyi/typeracer-clone';">Code</button>
				<button onclick="location.href='https://powerful-meadow-92522.herokuapp.com/';">Demo</button>
			</div>
			<div class="project">
				<img src="{% static 'main/template.jpg' %}">
				<p>Project description</p>
				<div class="project-divider"></div>
				<button onclick = "location.href='https://github.com/yevhenbalytskyi/find_the_pelican';" >Code</button>
				<button onclick = "location.href='https://find-the-pelican.herokuapp.com/';">Demo</button>
			</div>
			<div class="project">
				<img src="{% static 'main/template.jpg' %}">
				<p>Project description</p>
				<div class="project-divider"></div>
				<button >Code</button>
				<button >Demo</button>
			</div>
		</div>
	</div>
	<div class="modal"><!-- Place at bottom of page --></div>

<script type="text/javascript">

var clone = $("#about").clone();

	function get_time(){
		$.ajax({
			type: 'POST',
			url: "{% url 'time' %}",
			data: {
				csrfmiddlewaretoken: getCookie('csrftoken')
			},
			success: function(html){
				$('#content_p').html(html);
				$("#about").remove();
			}
		});
	};

	function main_page(){
		$(".container").remove();
		if ($('#about').length){
		} else {
			$("#append").append(clone);
		}
	};

	function getCookie(cname) {
	     var name = cname + "=";
	     var ca = document.cookie.split(';');
	     for(var i=0; i<ca.length; i++) {
	        var c = ca[i];
	        while (c.charAt(0)==' ') c = c.substring(1);
	        if(c.indexOf(name) == 0)
	           return c.substring(name.length,c.length);
	     }
	     return "";
	};

	$body = $("body");

	$(document).on({
	    ajaxStart: function() { $body.addClass("loading");    },
	     ajaxStop: function() { $body.removeClass("loading"); }    
	});

</script>

</body>

</html>



















